cljs/
target/
deploy/settings/user/*
deploy/settings/default.clj
deploy/plugins/
deploy/plugins
deploy/node-webkit*
deploy/core/cache
deploy/logs
.DS_Store
deploy/core/node_modules/lighttable/bootstrap.js*
.lein-deps-sum
.lein-env
.lein-plugins/
*.so
lib
deploy/LightTable
deploy/LightTable.app
deploy/credits.html
deploy/ltbin
deploy/nw.pak
deploy/light
.nrepl-port

node_modules/
