/deploy/core/node_modules/*
/deploy/core/node_modules/clojurescript/cljsDeps/
/target/
/deploy/plugins/
.DS_Store
.lein-deps-sum
.lein-env
.lein-plugins/
.nrepl-port
/builds/
.idea
*.iml
/lsp
/deploy/core/lighttable/bootstrap.js
/deploy/core/lighttable/bootstrap.js.map
/deploy/core/lighttable/cljs/
