/deploy/core/node_modules/lighttable/cljs/
/deploy/core/node_modules/clojurescript/cljsDeps/
/target/
/deploy/plugins/
.DS_Store
/deploy/core/node_modules/lighttable/bootstrap.js*
.lein-deps-sum
.lein-env
.lein-plugins/
.nrepl-port
/builds/
.idea
*.iml
