<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Light Table</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>clj</string>
				<string>cljs</string>
				<string>edn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>app/core/img/app.icns</string>
			<key>CFBundleTypeName</key>
			<string>Clojure Source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
				<string>utf8</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>app/core/img/app.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Plain Text File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>html</string>
				<string>phtml</string>
				<string>shtml</string>
				<string>xhtml</string>
				<string>htm</string>
				<string>pht</string>
				<string>sht</string>
				<string>xht</string>
				<string>phtm</string>
				<string>shtm</string>
				<string>xhtm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>app/core/img/app.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/html</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>HTML Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>js</string>
				<string>htc</string>
				<string>jscript</string>
				<string>javascript</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>app/core/img/app.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/javascript</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JavaScript Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.netscape.javascript-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>py</string>
				<string>rpy</string>
				<string>cpy</string>
				<string>python</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>app/core/img/app.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/x-python-script</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Python Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.python-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>css</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>app/core/img/app.icns</string>
			<key>CFBundleTypeName</key>
			<string>Cascading style sheet</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>markdown</string>
				<string>markd</string>
				<string>mdown</string>
				<string>md</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>app/core/img/app.icns</string>
			<key>CFBundleTypeName</key>
			<string>Markdown document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Electron</string>
	<key>CFBundleIconFile</key>
	<string>app/core/img/app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.kodowa.LightTable</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LightTable</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.2</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSFileQuarantineEnabled</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.5</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
