/* Dark theme */

:root {
  -webkit-var-background: #202020;
  -webkit-var-foreground: #ccc;

  -webkit-var-accent-foreground: #96FAFF;
  -webkit-var-accent-background: #13879C;
  -webkit-var-light-accent-background: #18B1CC;
  -webkit-var-light-accent-foreground: #CCFCFF;
  -webkit-var-dark-accent-background: #0B525E;
}

html { background: -webkit-var(background); }
body { background: -webkit-var(background); color: -webkit-var(foreground); }
a {text-decoration:none; color: -webkit-var(foreground); }
button { background:#707070; color:white; }
button:hover, button:focus { background:#13879C; color: -webkit-var(accent-foreground); }
input { color: #fff; background:#777; }

::-webkit-input-placeholder { color: #aaa; }
::-webkit-scrollbar {background: transparent;}
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #606060; border:1px solid #666; }
::-webkit-scrollbar-thumb:hover { background: #909090; border:1px solid #999; }
::-webkit-scrollbar-thumb:window-inactive { background: red; border:1px solid #777; }
::-webkit-scrollbar-corner { background:transparent; }
::selection { background: #aaa; }

.inline-result { background:none; }
.inline-result .truncated { background: -webkit-var(dark-accent-background); color:-webkit-var(accent-foreground); }
.inline-result .inline { background: -webkit-var(dark-accent-background); color:-webkit-var(accent-foreground); }
.inline-result.open .full { background: -webkit-var(dark-accent-background); color:-webkit-var(accent-foreground); }

.inline-exception pre { background:#8A1C3B; color:#FFADAD; border-left:4px solid #FFADAD; }

.underline-result pre { background: transparent; color: -webkit-var(accent-foreground)}

.inspector-object h2:before { color:#999; }
.inspector-object em { color:-webkit-var(accent-foreground); }
.inspector-object { color: #ccc; }

.inline-result .inspector-object { color: -webkit-var(light-accent-foreground); }
.inline-result .inspector-object h2:before { color: -webkit-var(light-accent-foreground); }

#multi-container { background: #202020; }
#multi { box-shadow:none; background:transparent; }
#multi .list { background:transparent; }
#multi .list li { color:#ccc; box-sizing:border-box; height:29px;}
#multi .list .active, #multi .list li:hover { background:#13879C; color:#96FAFF; background:#666; color:#eee; }
#multi .list .dirty { color: #42A4FF; color:#96FAFF; }
#multi .list .dirty:after { content: "*"; }
#multi .list.dragging li { background:transparent !important; }
#multi .ui-sortable-helper { background:#13879c; }
#multi .dirty.ui-sortable-placeholder:after { content:"" !important; }

#multi .fullscreen { background:#666; }
#multi .fullscreen:hover { background:#83f; }

#bottombar .content { background:#202020; box-shadow:inset 0 0 10px black; }
.console > li, .console td { color:-webkit-var(light-accent-foreground);   }
.console > li + li { border-top:1px solid #404040; }
.console > li.error + li { border-color:#772424;}
.console li.error { color:#FF5454; background:#4A0000; border-color:#772424;}
.console li.error table td { color:#FF5454; }
.console li.error tr:hover td { color:#FFa4a4; }
.console li .file { color: #bbb; }
.console li .line { color: #999; padding-left:5px; }

#intro { background: transparent; }

#instarepl .main { border-right:0px solid #444; }
#instarepl .error { color:#FF5454; background:#4A0000; }
#instarepl .livetoggler { background:#13879C; color:#96FAFF; }
#instarepl .livetoggler.off {color:#aaa; background:#555;}
#instarepl .livetoggler.off:hover {color:#ccc; background:#888;}
#instarepl .usage { background:#5C0087; color:#E8B5FF; }
#instarepl .usage.result { background:#0B525E; color:#96FAFF; }
#instarepl .usage.exception { background:#8A1C3B; color:#FFADAD; }
#instarepl .iresult { border:none; color:#42A4FF; }

.popup { background:rgba(0,0,0,0.5); }
.popup > div > div { background:#13879C; color:#96FAFF; }
.popup .button { background: transparent; border:2px solid #96FAFF; }
.popup .button:hover, .popup .button.active { background:#96FAFF; color:#13879C; }
.popup ::-webkit-scrollbar-thumb { background: #96FAFF; border:1px solid #96FAFF; }

#notifos { background:transparent; }
#notifos li { color: #42A4FF; background: #001F4A; }

#markdown-preview .preview p code { background: #444; }
#markdown-preview .preview pre { background: #444; }

#version-info .info dt { color:#888; }
#version-info .button { border:2px solid #666; }
#version-info .button:hover { background: #2d2e2c; }

#sidebar ::-webkit-scrollbar-thumb { background: rgba(155,155,155,0.90); border:1px solid #999; }

#right-bar .content { border-left: 2px solid #444; background:#444; }

#sidebar-wrapper { background:transparent; }

#sidebar li:hover, #sidebar .current { border-bottom:0px solid #fff; background:#555; }

#side .content { background:#555; box-shadow: 0 0 10px black; }

#side .command input { color: #fff; background:#777; }
#side .command h2:hover { background:#777; color:#fff; }

#side .navigate input { background:#777; color:white; }

.filter-list { color: #ccc; }
.filter-list input { background: #444; }
.filter-list em { color:-webkit-var(accent-foreground); border-bottom:0px solid #fff; }
.filter-list .selected, .filter-list li:hover { color:#eee; background: #444}
.filter-list .selected em, .filter-list li:hover em { color:-webkit-var(accent-foreground); }

#right-bar .filter-list .selected, .filter-list li:hover { color:#eee; background: #333; }
#right-bar .navigate p { color:#aaa;  }
#right-bar .filter-list input { background:#333; border:1px solid #777; background:transparent; }

#side .workspace ul.buttons li:hover:not(.sep) { color:#eee; background:#777; }
#side .workspace li:hover > div > p { color: -webkit-var(accent-foreground); }
#side .workspace li p:hover { background: #777; color:#fff; }
#side .workspace .recent > div > ul { margin-top:15px; color:#ddd; }
#side .workspace .recent > div > ul > li { background:#777; border-top:2px solid #999;  border-bottom:2px solid #999; }
#side .workspace .recent > div > ul > li:first-child {border-bottom:none; }
#side .workspace .recent > div > ul > li:last-child {border-bottom:2px solid #999;}
#side .workspace .recent > div > ul > li + li {border-bottom:none;}
#side .workspace .recent > div > ul > li:hover { border-color: -webkit-var(light-accent-background); background:-webkit-var(accent-background); color: -webkit-var(accent-foreground); }
#side .workspace .recent > div > ul > li:hover + li { border-top-color: -webkit-var(light-accent-background); }
#side .workspace .recent h2:hover { background: #777; color:#fff; }

#side .clients .list > ul > li { background:#777; border-top:2px solid #999; border-bottom:2px solid #999; }
#side .clients h2 { color:#ddd; }
#side .clients td { color:#ccc; }
#side .clients td + td { color:#ddd; }
#side .clients .button { background:#999; color:#eee; }
#side .clients .button:hover { background:#ccc; color:#555; border-color:#ccc; }
#side .clients .load-wrapper .img { width:20px; height:20px; background:url("../../img/connectingloader.gif") }
#side .clients .list .active {background:-webkit-var(accent-background); color: -webkit-var(accent-foreground); border-color: -webkit-var(light-accent-background); }
#side .clients .list li + li { border-top:none; }
#side .clients .list .active * {color: -webkit-var(accent-foreground); }
#side .clients .list .active .button {background:-webkit-var(light-accent-background); color: -webkit-var(accent-foreground); }
#side .clients .list .active .button:hover { background: -webkit-var(accent-foreground); color: -webkit-var(accent-background); }
#side .clients .connector li { background:#777; border-top:2px solid #999; border-bottom:2px solid #999; }
#side .clients .connector li:first-child {border-bottom:none;}
#side .clients .connector li:last-child {border-bottom:2px solid #999;}
#side .clients .connector li + li {border-bottom:none;}
#side .clients .connector li h2 {color: #eee; }
#side .clients .connector li:hover h2 {color: -webkit-var(accent-foreground); }
#side .clients .connector li:hover {background: -webkit-var(accent-background); color: -webkit-var(accent-foreground); border-color: -webkit-var(light-accent-background); }
#side .clients .connector li:hover + li { border-top-color: -webkit-var(light-accent-background); }
#side .clients .toggle:hover { background: #777; border-radius:2px; color:#fff; }

#statusbar { color: #999; border-top:0px solid #555; }
#statusbar .console-toggle { cursor:default; background:#404040; color:#ccc; width:20px; display:inline-block; text-align:center; margin-left:0px; border-radius:2px; display:none; }
#statusbar .console-toggle:hover { background:#777; color:#fff; }
#statusbar .console-toggle.dirty { background:#13879C; color:#96FAFF; }
#statusbar .log .error { color:#FFADAD; background:#8A1C3B; background:; }
#statusbar .log .tip { color: -webkit-var(accent-foreground); }

.load-wrapper .img { background:url("../../img/loaderdark.gif"); }

#find-bar input { box-shadow:inset 0 0 5px black; background:#202020; color:#ccc; border-top:2px solid #333; }
#find-bar ::-webkit-input-placeholder { color:#888; }

#keybinding ul.keys li { background:#13879C; color:#96FAFF; }
#keybinding input { background:#606060; color:#eee; }
#keybinding .all-mappings { border-left:2px solid #505050; }
#keybinding .filter-list ul { background:#404040; }
#keybinding .all-mappings td > ul > li:hover { background: #333; }
#keybinding .all-mappings li:hover .remove { background: #555; }
#keybinding .all-mappings li .remove:hover { background: #f77; color:#522 }

#browser input { background:#444; color:#ccc; }
#browser button {  }
#browser iframe { background: #202020; background:transparent; }
#browser ::-webkit-scrollbar { background: #202020 !important; }
#browser ::-webkit-scrollbar-track { background: #202020 !important; }
#browser ::-webkit-scrollbar-corner { background: #202020 !important; }
#browser ::-webkit-scrollbar-thumb { background: rgba(120,120,120,1); border:1px solid #888;  }

.docs ::-webkit-scrollbar { background: #202020 !important; }
.docs ::-webkit-scrollbar-track { background: #202020 !important; }
.docs ::-webkit-scrollbar-corner { background: #202020 !important; }
.docs ::-webkit-scrollbar-thumb { background: rgba(120,120,120,1); border:1px solid #888;  }

.search-results li+li { border-top: px solid #666; }
.search-results .path, .search-results .line { color:#666; }
.search-results .entry { color: #aaa; }
.search-results .entry em { color:#fff; background:none !important; border-bottom:0px solid -webkit-var(accent-foreground); }
.search-results .entry:hover { background:#444; }
.search-results .entry:hover .line { background:#999; color:#333; }
.search-results .path { color: -webkit-var(accent-foreground); }
.search-results .file { color: -webkit-var(accent-foreground); }

.watch-result { display:inline-block; padding-left:2px; vertical-align:top; background:#5C0087; color:#E8B5FF; border-left: 2px solid #E8B5FF; border-radius:2px; }
.CodeMirror .watched { border-bottom:1px solid #E8B5FF; }

.cm-visible-space { background:url("/users/chris/lighttable/playground/deploy/img/visible-space11.png"); background-size:100%; background-position:center;  background-repeat: no-repeat;}
.cm-visible-tab { background:url("/users/chris/lighttable/playground/deploy/img/visible-tab7.png"); background-size:100% 1em; background-position:center;  background-repeat: no-repeat;}

/* Default CodeMirror dark */
.CodeMirror { color: #ccc; }
.cm-s-default { background: #202020; color:#ccc; }

.cm-s-default span.cm-symbol {color: #ccc;}
.cm-s-default span.cm-variable {color: #ccc;}
.cm-s-default span.cm-variable-2 {color: #acf}
.cm-s-default span.cm-string {color: #add}
.cm-s-default span.cm-string-2 {color: #add;}
.cm-s-default span.cm-number {color: #ccc;}
.cm-s-default span.cm-def {color:#acf;}
.cm-s-default span.cm-bracket {color: #aaa;}
.cm-s-default span.cm-builtin {color: #aec;}
.cm-s-default span.cm-property {color: #aaa; }
.cm-s-default span.cm-operator {color: #aaa; }
.cm-s-default span.cm-keyword {color: #aec; }
.cm-s-default span.cm-qualifier {color: #aec; }
.cm-s-default span.cm-attribute {color: #aec; }
.cm-s-default span.cm-meta {color: #aec; }
.cm-s-default span.cm-atom { color: #caf; }
.cm-s-default span.cm-tag {color: #acf;}
.cm-s-default span.CodeMirror-searching { background: #aaa; color:black; }
.cm-s-default span.CodeMirror-searching-active { background: #afa; color:black; }

.cm-s-default .CodeMirror-selected { background: #555; }
.cm-s-default .CodeMirror-focused .CodeMirror-selected { background: #444; }

.cm-SUBST { color:#FF1F69 !important; }
.cm-s-default span.cm-SUBST { color:#FF1F69; }

.cm-s-default span.cm-bracket0 { color:#f88; background:#733; }

/*
.cm-s-default span.cm-bracket2 {color: #0f0;}
.cm-s-default span.cm-bracket3 {color: #00ff7f;}
.cm-s-default span.cm-bracket4 {color: #00ffff;}
.cm-s-default span.cm-bracket5 {color: #836FFF;}
.cm-s-default span.cm-bracket6 {color: #FF00FF;}
.cm-s-default span.cm-bracket7 {color: #9B30FF;}
.cm-s-default span.cm-bracket8 {color: #00ff7f;}
.cm-s-default span.cm-bracket9 {color: #00ffff;}
.cm-s-default span.cm-bracket10 {color: #836FFF;}
.cm-s-default span.cm-bracket11 {color: #FF00FF;}
.cm-s-default span.cm-bracket12 {color: #9B30FF;}
*/

.cm-s-default .activeline { background:#303030; }
.cm-s-default span.CodeMirror-matchingbracket {box-sizing:border-box; background:transparent; border-bottom:1px solid #3FF; font-weight:normal;}
.cm-s-default span.CodeMirror-nonmatchingbracket {color: #F33; border-bottom:1px solid #F33; background:none;}

.cm-s-default .cm-searching { background:#5f5f5f; border-radius:2px; color:#eee !important; }
.cm-s-default .searching-current { background:#13879C; color:#BFFCFF !important; }

.CodeMirror div.CodeMirror-cursor { border-left: 1px solid white; }
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor { border-left: 1px solid silver; }
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor { width: auto; border: none !important; background: rgba(0, 200, 200, .4); }

.CodeMirror-gutters { background: #202020; }

.CodeMirror-hints {
  position: absolute;
  z-index: 1000000000000000;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 2px;

  border-radius: 2px;
  border: 1px solid #555;

  background: #555;
  font-size: 90%;
  font-family: inherit;

  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hints ul li {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  max-width: 19em;
  overflow: hidden;
  white-space: pre;
  color: #ccc;
  cursor: pointer;
}

.CodeMirror-hints input { display:none; }

.CodeMirror-hints .selected {
  background: #777;
  color: #eee;
}
