{:+ {:app {"cmd-k" [:toggle-console]
           "cmd-t" [:workspace.show]
           "cmd-shift-t" [:tabset.new]
           "ctrl-shift-right" [:tabs.move-next-tabset]
           "ctrl-shift-left" [:tabs.move-prev-tabset]}
     :editor {"alt-w" [:editor.watch.watch-selection]
              "alt-shift-w" [:editor.watch.unwatch]}}}
