{:+ {:app {"cmd-k" [:toggle-console]
           "cmd-t" [:workspace.show]
           "cmd-shift-f" [:searcher.show]
           "cmd-shift-t" [:tabset.new]
           "ctrl-shift-right" [:tabs.move-next-tabset]
           "ctrl-shift-left" [:tabs.move-prev-tabset]
           }
     :editor {"alt-w" [:editor.watch.watch-selection]
              "alt-up" [(:emacs.keymap-cmd "Ctrl-Alt-U")]
              "alt-m" [:editor.line-start-smart]
              "alt-enter" [(:paredit.select.parent "(")
                           :eval-editor-form
                           :paredit.select.clear]
              "alt-shift-w" [:editor.watch.unwatch]
              "cmd-shift-/" [:toggle-comment-selection]}
     :editor.keys.normal {"cmd-d" [:editor.doc.toggle]}
     :editor.keys.vim.normal {"cmd-d" [:editor.doc.toggle]

                              "shift-alt-s" [(:paredit.select.parent "(")]
                              "alt-s" [(:paredit.select.parent "(")
                                       :smart-indent-selection
                                       :paredit.select.clear]
                              ">" [:paredit.grow.right]
                              "<" [:paredit.shrink.right]
                              "alt-shift-," [:paredit.shrink.left]
                              "alt-shift-." [:paredit.grow.left]}
     }
 }
