[
 [:app "pmeta-shift-f" :searcher.show]
 [:app "ctrl-space" :show-commandbar-transient]
 [:app "pmeta-shift-n" :window.new]
 [:app "pmeta-shift-o" :open-file]
 [:app "pmeta-n" :new-file]
 [:app "ctrl-shift-d" :docs.search.show]
 [:app "pmeta-o" :navigate-workspace-transient]
 [:app "pmeta--" :window.zoom-out]
 [:app "pmeta-+" :window.zoom-in]
 [:app "pmeta-=" :window.zoom-in]
 [:app "pmeta-shift-=" :window.zoom-in]
 [:app "pmeta-0" :window.zoom-reset]
 [:app "f11" :window.fullscreen]
 [:app "pmeta-r" :refresh-connected-browser]

 [:browser "pmeta-l" :browser.url-bar.focus]

 [:browser.url-bar "esc" :browser.focus-content]
 [:browser.url-bar "enter" :browser.url-bar.navigate!]

 [:editor "pmeta-enter" :eval-editor-form]
 [:editor "ctrl-d" :editor.doc.toggle]
 [:editor "ctrl-," :editor.unjump]
 [:editor "ctrl-." :editor.jump-to-definition-at-cursor]
 [:editor "pmeta-shift-s" :save-as]
 [:editor "pmeta-l" :go-to-line]
 [:editor "pmeta-shift-enter" :eval-editor]
 [:editor "ctrl-=" :editor.fold-code]
 [:editor "pmeta-s" :save]
 [:editor "pmeta-/" :toggle-comment-selection]

 [:editor.keys.hinting.active "enter" :passthrough]

 [:editor.keys.normal "pmeta-shift-g" :find.prev]
 [:editor.keys.normal "pmeta-f" :find.fill-selection :find.show]
 [:editor.keys.normal "pmeta-g" :find.next]
 [:editor.keys.normal "tab" :auto-complete]
 [:editor.keys.normal "backspace" :passthrough :editor.backspace-indent]

 [:filter-list.input "down" (:filter-list.input.move-selection 1)]
 [:filter-list.input "esc" (:filter-list.input.escape! :force)]
 [:filter-list.input "enter" :filter-list.input.select!]
 [:filter-list.input "up" (:filter-list.input.move-selection -1)]

 [:find-bar "pmeta-shift-g" :find.prev]
 [:find-bar "shift-enter" :find.prev]
 [:find-bar "pmeta-g" :find.next]
 [:find-bar "esc" :find.clear :find.hide]
 [:find-bar "enter" :find.next]

 [:find-bar.replace "pmeta-enter" :find.replace-all]
 [:find-bar.replace "pmeta-shift-g" :find.prev]
 [:find-bar.replace "pmeta-g" :find.next]
 [:find-bar.replace "esc" :find.clear :find.hide]
 [:find-bar.replace "enter" :find.replace]

 [:options-input "esc" :options-input.escape!]
 [:options-input "enter" :options-input.select!]

 [:plugin-manager.search "enter" :plugin-manager.search]

 [:popup "left" (:popup.move-active 1)]
 [:popup "shift-tab" (:popup.move-active -1)]
 [:popup "esc" (:popup.escape)]
 [:popup "tab" (:popup.move-active 1)]
 [:popup "enter" (:popup.exec-active)]
 [:popup "right" (:popup.move-active -1)]

 [:popup.input "left" :passthrough]
 [:popup.input "right" :passthrough]

 [:searcher.location "enter" :searcher.search]

 [:searcher.replace "pmeta-enter" :searcher.replace-all]

 [:searcher.search "enter" :searcher.search]

 [:sidebar.clients "esc" :show-connect]

 [:sidebar.doc.search.input "esc" :docs.search.hide]
 [:sidebar.doc.search.input "enter" :docs.search.exec]

 [:tabs "pmeta-8" (:tabs.goto 7)]
 [:tabs "pmeta-9" (:tabs.goto :last)]
 [:tabs "ctrl-shift-tab" :tabs.prev]
 [:tabs "ctrl-tab" :tabs.next]
 [:tabs "pmeta-shift-[" :tabs.prev]
 [:tabs "pmeta-1" (:tabs.goto 0)]
 [:tabs "pmeta-shift-]" :tabs.next]
 [:tabs "pmeta-2" (:tabs.goto 1)]
 [:tabs "pmeta-3" (:tabs.goto 2)]
 [:tabs "pmeta-4" (:tabs.goto 3)]
 [:tabs "pmeta-5" (:tabs.goto 4)]
 [:tabs "pmeta-6" (:tabs.goto 5)]
 [:tabs "pmeta-7" (:tabs.goto 6)]
 [:tabs "pmeta-w" :tabs.close]

 [:tree.rename "esc" :workspace.rename.cancel!]
 [:tree.rename "enter" :workspace.rename.submit!]
]
