{:+ {:app {"pmeta-r" [:refresh-connected-browser]
           "pmeta-shift-n" [:window.new]
           "pmeta-o" [:navigate-workspace-transient]
           "pmeta-shift-o" [:open-file]
           "pmeta-shift-f" [:searcher.show]
           "ctrl-shift-d" [:docs.search.show]
           "pmeta-n" [:new-file]
           "ctrl-space" [:show-commandbar-transient]}
     :editor {"pmeta-enter" [:eval-editor-form]
              "pmeta-shift-enter" [:eval-editor]
              "pmeta-s" [:save]
              "pmeta-shift-s" [:save-as]
              "pmeta-l" [:goto-line]
              "ctrl-." [:editor.jump-to-definition-at-cursor]
              "ctrl-," [:editor.unjump]
              "ctrl-d" [:editor.doc.toggle]
              "ctrl-=" [:editor.fold-code]}
     :editor.keys.normal {"\"" [(:editor.repeat-pair "\"")]
                          "(" [(:editor.open-pair "(")]
                          ")" [(:editor.close-pair ")")]
                          "pmeta-f" [:find.fill-selection
                                     :find.show]
                          "tab" [:auto-complete]
                          "pmeta-g" [:find.next]
                          "pmeta-shift-g" [:find.prev]
                          "[" [(:editor.open-pair "[")]
                          "{" [(:editor.open-pair "{")]
                          "]" [(:editor.close-pair "]")]
                          "}" [(:editor.close-pair "}")]
                          "backspace" [:editor.backspace-pair]}
     :tabs {"pmeta-w" [:tabs.close]
            "pmeta-shift-[" [:tabs.prev]
            "pmeta-shift-]" [:tabs.next]
            "ctrl-tab" [:tabs.next]
            "ctrl-shift-tab" [:tabs.prev]
            "pmeta-1" [(:tabs.goto 0)]
            "pmeta-2" [(:tabs.goto 1)]
            "pmeta-3" [(:tabs.goto 2)]
            "pmeta-4" [(:tabs.goto 3)]
            "pmeta-5" [(:tabs.goto 4)]
            "pmeta-6" [(:tabs.goto 5)]
            "pmeta-7" [(:tabs.goto 6)]
            "pmeta-8" [(:tabs.goto 7)]
            "pmeta-9" [(:tabs.goto :last)]
            }
     :popup {"left" [(:popup.move-active 1)],
             "shift-tab" [(:popup.move-active -1)],
             "esc" [(:popup.escape)],
             "tab" [(:popup.move-active 1)],
             "enter" [(:popup.exec-active)],
             "right" [(:popup.move-active -1)]}
     :popup.input {"left" [:passthrough],
                   "right" [:passthrough]}
     :plugin-manager.search {"enter" [:plugin-manager.search]}
     :sidebar.clients {"esc" [:hide-connect]}
     :sidebar.doc.search.input {"enter" [:docs.search.exec]
                                "esc" [:docs.search.hide]}
     :searcher.search {"enter" [:searcher.search]}
     :searcher.replace {"pmeta-enter" [:searcher.replace-all]}
     :searcher.location {"enter" [:searcher.search]}
     :find-bar {"shift-enter" [:find.prev],
                "esc" [:find.clear :find.hide],
                "pmeta-g" [:find.next]
                "pmeta-shift-g" [:find.prev]
                "enter" [:find.next]}
     :find-bar.replace {"pmeta-enter" [:find.replace-all],
                        "pmeta-g" [:find.next]
                        "pmeta-shift-g" [:find.prev]
                        "esc" [:find.clear :find.hide],
                        "enter" [:find.replace]}
     :browser { "pmeta-l" [:browser.url-bar.focus] }
     :browser.url-bar {"enter" [:browser.url-bar.navigate!]
                       "esc" [:browser.focus-content]},
     :filter-list.input {"down" [(:filter-list.input.move-selection 1)],
                         "esc" [(:filter-list.input.escape! :force)],
                         "enter" [:filter-list.input.select!],
                         "up" [(:filter-list.input.move-selection -1)]}
     :options-input {"esc" [:options-input.escape!],
                     "enter" [:options-input.select!]}
     :tree.rename {"esc" [:workspace.rename.cancel!]
                   "enter" [:workspace.rename.submit!]}}}
