{:+ {:editor.keys.hinting.active {"tab" [:auto-complete]
                                  "esc" [:auto-complete.remove]
                                  "down" [(:filter-list.input.move-selection 1)],
                                  "up" [(:filter-list.input.move-selection -1)]}
     :editor.keys.emacs {"ctrl-w" [(:emacs.keymap-cmd "Ctrl-W")]
                         "ctrl-k" [(:emacs.keymap-cmd "Ctrl-K")]
                         "alt-w" [(:emacs.keymap-cmd "Alt-W")]
                         "ctrl-y" [(:emacs.keymap-cmd "Ctrl-Y")]
                         "alt-y" [(:emacs.keymap-cmd "Alt-Y")]
                         "ctrl-space" [(:emacs.keymap-cmd "Ctrl-Space")]
                         "ctrl-shift-2" [(:emacs.keymap-cmd "Ctrl-Shift-2")]
                         "ctrl-f" [(:emacs.keymap-cmd "Ctrl-F")]
                         "ctrl-b" [(:emacs.keymap-cmd "Ctrl-B")]
                         "right" [(:emacs.keymap-cmd "Right")]
                         "left" [(:emacs.keymap-cmd "Left")]
                         "ctrl-d" [(:emacs.keymap-cmd "Ctrl-D")]
                         "delete" [(:emacs.keymap-cmd "Delete")]
                         "ctrl-h" [(:emacs.keymap-cmd "Ctrl-H")]
                         "backspace" [(:emacs.keymap-cmd "Backspace")]
                         "alt-f" [(:emacs.keymap-cmd "Alt-F")]
                         "alt-b" [(:emacs.keymap-cmd "Alt-B")]
                         "alt-d" [(:emacs.keymap-cmd "Alt-D")]
                         "alt-backspace" [(:emacs.keymap-cmd "Alt-Backspace")]
                         "ctrl-n" [(:emacs.keymap-cmd "Ctrl-N")]
                         "ctrl-p" [(:emacs.keymap-cmd "Ctrl-P")]
                         "down" [(:emacs.keymap-cmd "Down")]
                         "up" [(:emacs.keymap-cmd "Up")]
                         "ctrl-a" [(:emacs.keymap-cmd "Ctrl-A")]
                         "ctrl-e" [(:emacs.keymap-cmd "Ctrl-E")]
                         "end" [(:emacs.keymap-cmd "End")]
                         "home" [(:emacs.keymap-cmd "Home")]
                         "alt-v" [(:emacs.keymap-cmd "Alt-V")]
                         "ctrl-v" [(:emacs.keymap-cmd "Ctrl-V")]
                         "pageup" [(:emacs.keymap-cmd "PageUp")]
                         "pagedown" [(:emacs.keymap-cmd "PageDown")]
                         "ctrl-up" [(:emacs.keymap-cmd "Ctrl-Up")]
                         "ctrl-down" [(:emacs.keymap-cmd "Ctrl-Down")]
                         "alt-a" [(:emacs.keymap-cmd "Alt-A")]
                         "alt-e" [(:emacs.keymap-cmd "Alt-E")]
                         "alt-k" [(:emacs.keymap-cmd "Alt-K")]
                         "ctrl-alt-k" [(:emacs.keymap-cmd "Ctrl-Alt-K")]
                         "ctrl-alt-backspace" [(:emacs.keymap-cmd "Ctrl-Alt-Backspace")]
                         "ctrl-alt-f" [(:emacs.keymap-cmd "Ctrl-Alt-F")]
                         "ctrl-alt-b" [(:emacs.keymap-cmd "Ctrl-Alt-B")]
                         "ctrl-alt-shift-2" [(:emacs.keymap-cmd "Shift-Ctrl-Alt-2")]
                         "ctrl-alt-t" [(:emacs.keymap-cmd "Ctrl-Alt-T")]
                         "ctrl-alt-u" [(:emacs.keymap-cmd "Ctrl-Alt-U")]
                         "alt-space" [(:emacs.keymap-cmd "Alt-Space")]
                         "ctrl-o" [(:emacs.keymap-cmd "Ctrl-O")]
                         "ctrl-t" [(:emacs.keymap-cmd "Ctrl-T")]
                         "alt-c" [(:emacs.keymap-cmd "Alt-C")]
                         "alt-u" [(:emacs.keymap-cmd "Alt-U")]
                         "alt-l" [(:emacs.keymap-cmd "Alt-L")]
                         "alt-;" [:toggle-comment-selection]
                         "ctrl-/" [(:emacs.keymap-cmd "Ctrl-/")]
                         "ctrl-shift--" [(:emacs.keymap-cmd "Shift-Ctrl--")]
                         "ctrl-z" [(:emacs.keymap-cmd "Ctrl-Z")]
                         "cmd-z" [(:emacs.keymap-cmd "Cmd-Z")]
                         "alt-shift-," [(:emacs.keymap-cmd "Shift-Alt-,")]
                         "alt-shift-." [(:emacs.keymap-cmd "Shift-Alt-.")]
                         "ctrl-s" [(:find.show)]
                         "ctrl-r" [(:find.show true)]
                         "ctrl-g" [:find.clear]
                         "alt-shift-5" [:find.replace]
                         "alt-/" [:auto-complete.force]
                         "ctrl-j" [(:emacs.keymap-cmd "Ctrl-J")]
                         "enter" [:passthrough]
                         "tab" [:smart-indent-selection]
                         "ctrl-u" [(:emacs.keymap-cmd "Ctrl-U")]
                         "ctrl-x tab" [(:emacs.keymap-cmd "Tab" "emacs-Ctrl-X")]
                         "ctrl-x ctrl-x" [(:emacs.keymap-cmd "Ctrl-X" "emacs-Ctrl-X")]
                         "ctrl-x ctrl-s" [:save]
                         "ctrl-x ctrl-w" [:save]
                         "ctrl-x s" [:save-all]
                         "ctrl-x f" [:open-file]
                         "ctrl-x u" [(:emacs.keymap-cmd "U" "emacs-Ctrl-X")]
                         "ctrl-x k" [:tabs.close]
                         "ctrl-x delete" [(:emacs.keymap-cmd "Delete" "emacs-Ctrl-X")]
                         "alt-g g" [:goto-line]
                         "ctrl-q tab" [(:emacs.keymap-cmd "Tab" "emacs-Ctrl-Q")]
                         }}}
