/* Dark theme */

:root {
  var-bg: #202020;
  var-fg: #ccc;
  var-border: #444;
  var-shadow: black;

  var-placeholder-fg: #aaa;
  var-dim-fg: #bbb;
  var-hidden-fg: #999;

  var-highlight-bg: #222;
  var-highlight-fg: #eee;

  var-dark-highlight-bg: #666;
  var-medium-highlight-bg: #999;

  var-button-bg: #707070;
  var-button-fg: #fff;
  var-button-active-bg: #ccc;
  var-button-active-fg: #555;

  var-pane-bg: #555;
  var-pane-scrollbar: #7c7c7c;
  var-dark-pane-bg: #444;

  var-error-bg: #8A1C3B;
  var-error-fg: #FFADAD;
  var-error-highlight-fg: #FFCDCD;
  var-error-border: #772424;

  var-usage-bg: #5C0087;
  var-usage-fg: #E8B5FF;

  var-result-bg: #0B525E;
  var-result-fg: #96FAFF;

  var-overlay-dimmer: rgba(0,0,0,0.5);

  var-accent-foreground: #96FAFF;
  var-accent-background: #13879C;
  var-light-accent-background: #18B1CC;
  var-light-accent-foreground: #CCFCFF;
  var-dark-accent-background: #0B525E;

  var-redbg: red;
}

html { background: var(bg); }
body { background: var(bg); color: var(fg); }
a {text-decoration:none; color: var(fg); }
button { background:var(button-bg); color:var(button-fg); }
button:hover, button:focus { background:var(button-active-bg); color: var(button-active-fg); }
input { color: var(highlight-fg); background:var(highlight-bg); }

::-webkit-input-placeholder { color: var(placeholder-fg); }
::-webkit-scrollbar {background: transparent;}
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(dark-highlight-bg); border:1px solid var(dark-highlight-bg); }
::-webkit-scrollbar-thumb:hover { background: var(medium-highlight-bg); border:1px solid var(medium-highlight-bg); }
::-webkit-scrollbar-corner { background:transparent; }
::selection { background: var(placeholder-fg); }

.inline-result { background:none; }
.inline-result .truncated { background: var(dark-accent-background); color:var(accent-foreground); }
.inline-result .inline { background: var(dark-accent-background); color:var(accent-foreground); }
.inline-result.open .full { background: var(dark-accent-background); color:var(accent-foreground); }

.inline-exception pre { background: var(error-bg); color: var(error-fg); border-left:4px solid var(error-fg); }

.underline-result pre { background: transparent; color: var(accent-foreground)}

.inspector-object h2:before { color:var(hidden-fg); }
.inspector-object em { color:var(accent-foreground); }
.inspector-object { color: var(fg); }

.inline-result .inspector-object { color: var(light-accent-foreground); }
.inline-result .inspector-object h2:before { color: var(light-accent-foreground); }

#multi-container { background: var(bg); }
#multi { box-shadow:none; background:transparent; }
#multi .list { background:transparent; }
#multi .list li { color:var(fg); box-sizing:border-box; height:29px;}
#multi .list .active, #multi .list li:hover { background:var(dark-highlight-bg); color:var(highlight-fg); }
#multi .list .dirty { color:var(accent-foreground); }
#multi .list .dirty:after { content: "*"; }
#multi .list.dragging li { background:transparent !important; }
#multi .dirty.ui-sortable-placeholder:after { content:"" !important; }

#bottombar .content { background:var(bg); border-top:2px solid var(border); }
.console > li, .console td { color:var(light-accent-foreground); }
.console > li + li { border-top:1px solid var(border); }
.console > li.error + li { border-color:var(error-border);}
.console li.error { color:var(error-fg); background:var(error-bg); border-color:var(error-border);}
.console li.error table td { color:var(error-fg); }
.console li.error tr:hover td { color:var(error-highlight-fg); }
.console li .file { color: var(dim-fg); }
.console li .line { color: var(hidden-fg); padding-left:5px; }

#instarepl .error { color:var(error-fg); background:var(error-bg); }
#instarepl .livetoggler { background:var(accent-background); color:var(accent-foreground); }
#instarepl .livetoggler.off {color:var(button-fg); background:var(button-bg);}
#instarepl .livetoggler.off:hover {color:var(button-active-fg); background:var(button-active-bg);}
#instarepl .use-result { background:var(usage-bg); color:var(usage-fg); }
#instarepl .result-result { background:var(result-bg); color:var(result-fg); }
#instarepl .exception-result { background:var(error-bg); color:var(error-fg); }

.popup { background:var(overlay-dimmer); }
.popup > div > div { background:var(accent-background); color:var(accent-foreground); }
.popup .button { background: transparent; border:2px solid var(accent-foreground); }
.popup .button:hover, .popup .button.active { background:var(accent-foreground); color:var(accent-background); }
.popup ::-webkit-scrollbar-thumb { background: var(accent-foreground); border:1px solid var(accent-foreground); }

#version-info .info dt { color:var(hidden-fg); }
#version-info .button { background:var(button-bg); color:var(button-fg); border:none; }
#version-info .button:hover { background: var(button-active-bg); color:var(button-active-fg); }

.filter-list { color: var(fg); }
.filter-list em { color:var(accent-foreground); }
.filter-list .selected, .filter-list li:hover { color:var(highlight-fg); background: var(highlight-bg);}
.filter-list .selected em, .filter-list li:hover em { color:var(accent-foreground); }

#side .content { background:var(pane-bg); box-shadow: 0 0 10px var(shadow); }
#side ::-webkit-scrollbar-thumb { background: var(pane-scrollbar); border:1px solid var(pane-scrollbar); }

#side .workspace ul.buttons li:hover:not(.sep) { color:#eee; background:#333; }
#side .workspace li:hover > div > p { color: var(accent-foreground); }
#side .workspace li p:hover { background: #333; color:#fff; }
#side .workspace .recent > div > ul { margin-top:10px; color:#ddd; }
#side .workspace .recent > div > ul > li { background:transparent; border-top:1px solid #888;  border-bottom:1px solid #888; }
#side .workspace .recent > div > ul > li:first-child {border-top:none; }
#side .workspace .recent > div > ul > li:last-child {border-bottom:0px solid #999;}
#side .workspace .recent > div > ul > li + li {border-bottom:none;}
#side .workspace .recent > div > ul > li:hover { border-color: #ccc; background:#333; color: #eee; }
#side .workspace .recent > div > ul > li:hover + li { border-top-color: #ccc; }
#side .workspace .recent h2:hover { background: #333; color:#fff; }

#right-bar .content { border:none; background:var(dark-pane-bg); }
#right-bar .command h2:hover { background:#333; color:#fff; }
#right-bar .command input { background:#222; color:#fff; }

#right-bar .filter-list .selected, .filter-list li:hover { color:#eee; background: #222; }
#right-bar .navigate p { color:#aaa;  }
#right-bar .filter-list input { background:#333; border:1px solid #777; background:transparent; }
#right-bar .command p.binding { color:#aaa; }

#right-bar .clients .list > ul > li { background:transparent; border-top:1px solid #999; border-bottom:1px solid #999; }
#right-bar .clients h2 { color:#ddd; }
#right-bar .clients td { color:#ccc; }
#right-bar .clients td + td { color:#ddd; }
#right-bar .clients .button { background:#777; color:#ccc; }
#right-bar .clients .button:hover { background:#ccc; color:#555; border-color:#ccc; }
#right-bar .clients .load-wrapper .img { width:20px; height:20px; background:url("../../img/connectingloader.gif") }
#right-bar .clients .list .active {background:#333; color: inherit; border-color: inherit; }
#right-bar .clients .list li + li { border-top:none; }
#right-bar .clients .list .active * {color: inherit; }
#right-bar .clients .list .active h2 {color:  var(accent-foreground); }
#right-bar .clients .list .active .button {background:#777; color: #ccc; }
#right-bar .clients .list .active .button:hover { background: #ccc; color: #555; }
#right-bar .clients .connector li { background:transparent; border-top:1px solid #999; border-bottom:1px solid #999; }
#right-bar .clients .connector li:first-child {border-bottom:none;}
#right-bar .clients .connector li:last-child {border-bottom:1px solid #999;}
#right-bar .clients .connector li + li {border-bottom:none;}
#right-bar .clients .connector li h2 {color: #eee; }
#right-bar .clients .connector li:hover h2 {color: var(accent-foreground); }
#right-bar .clients .connector li:hover {background: #333; color: #ccc; border-color: #999; }
#right-bar .clients .connector li:hover + li { border-top-color: #999; }
#right-bar .clients .toggle:hover { background: #777; border-radius:2px; color:#fff; }

#statusbar { color: #999; border-top:0px solid #555; }
#statusbar .console-toggle { cursor:default; background:#404040; color:#ccc; min-width:12px; padding:0 4px; width:auto; display:none; text-align:center; margin-left:0px; border-radius:2px; }
#statusbar .console-toggle:hover { background:#777; color:#fff; }
#statusbar .console-toggle.dirty { background:#13879C; color:#96FAFF; display: inline-block; }
#statusbar .console-toggle.error { color:#FFADAD; background:#8A1C3B; }
#statusbar .log .error { color:#FFADAD; background:#8A1C3B; }
#statusbar .log .tip { color: var(accent-foreground); }

.load-wrapper .img { background:url("../../img/loaderdark.gif"); }

#find-bar input { box-shadow:inset 0 0 0px black; background:#202020; color:#ccc; border-top:2px solid #444; }
#find-bar ::-webkit-input-placeholder { color:#888; }

#keybinding ul.keys li { background:#13879C; color:#96FAFF; }
#keybinding input { background:#606060; color:#eee; }
#keybinding .all-mappings { border-left:2px solid #505050; }
#keybinding .filter-list ul { background:#404040; }
#keybinding .all-mappings td > ul > li:hover { background: #333; }
#keybinding .all-mappings li:hover .remove { background: #555; }
#keybinding .all-mappings li .remove:hover { background: #f77; color:#522 }

#browser input { background:#444; color:#ccc; }
#browser button {  }
#browser iframe { background: #202020; background:transparent; }
#browser ::-webkit-scrollbar { background: #202020 !important; }
#browser ::-webkit-scrollbar-track { background: #202020 !important; }
#browser ::-webkit-scrollbar-corner { background: #202020 !important; }
#browser ::-webkit-scrollbar-thumb { background: rgba(120,120,120,1); border:1px solid #888;  }

.docs ::-webkit-scrollbar { background: #202020 !important; }
.docs ::-webkit-scrollbar-track { background: #202020 !important; }
.docs ::-webkit-scrollbar-corner { background: #202020 !important; }
.docs ::-webkit-scrollbar-thumb { background: rgba(120,120,120,1); border:1px solid #888;  }

.search-results li+li { border-top: 0px solid #666; }
.search-results .path, .search-results .line { color:#999; }
.search-results .line { color:#9BC2B8; }
.search-results .entry { color: #aaa; }
.search-results .entry em { color:#fff; background:none !important; }
.search-results .entry:hover { background:#444; }
.search-results .entry:hover .line { background:#999; color:#333; }
.search-results .path { color:#5EBDA5; }
.search-results .file { color:#03FFc0; }

.watch-result { display:inline-block; padding-left:2px; vertical-align:top; background:#5C0087; color:#E8B5FF; border-left: 2px solid #E8B5FF; border-radius:2px; }
.CodeMirror .watched { border-bottom:1px solid #E8B5FF; }

.hintwrapper { padding:2px 0; padding-bottom:5px; padding-left:12px; box-sizing:border-box; }
.jshinterrors  { display:inline-block; box-sizing:border-box; padding:2px 10px; border-radius:2px; background:#75363D; border-left:4px solid #F96162; color:#FFADAD; }
.hintwrapper .spacer { display:inline-block; white-space:pre; }

.cm-visible-space { background:url("../../img/visible-space11.png"); background-size:100%; background-position:center;  background-repeat: no-repeat;}
.cm-visible-tab { background:url("../../img/visible-tab7.png"); background-size:100% 1em; background-position:center;  background-repeat: no-repeat;}

/* Default CodeMirror dark */
.CodeMirror { color: #ccc; }
.cm-s-default { background: #202020; color:#ccc; }

.cm-s-default span.cm-symbol {color: #ccc;}
.cm-s-default span.cm-variable {color: #ccc;}
.cm-s-default span.cm-variable-2 {color: #acf}
.cm-s-default span.cm-string {color: #add}
.cm-s-default span.cm-string-2 {color: #add;}
.cm-s-default span.cm-number {color: #ccc;}
.cm-s-default span.cm-def {color:#acf;}
.cm-s-default span.cm-bracket {color: #aaa;}
.cm-s-default span.cm-builtin {color: #aec;}
.cm-s-default span.cm-property {color: #aaa; }
.cm-s-default span.cm-operator {color: #aaa; }
.cm-s-default span.cm-keyword {color: #aec; }
.cm-s-default span.cm-qualifier {color: #aec; }
.cm-s-default span.cm-attribute {color: #aec; }
.cm-s-default span.cm-meta {color: #aec; }
.cm-s-default span.cm-atom { color: #caf; }
.cm-s-default span.cm-tag {color: #acf;}
.cm-s-default span.CodeMirror-searching { background: #aaa; color:black; }
.cm-s-default span.CodeMirror-searching-active { background: #afa; color:black; }

.cm-s-default .CodeMirror-selected { background: #555; }
.cm-s-default .CodeMirror-focused .CodeMirror-selected { background: #444; }

.cm-SUBST { color:#FF1F69 !important; }
.cm-s-default span.cm-SUBST { color:#FF1F69; }

.cm-s-default span.cm-bracket0 { color:#f88; background:#733; }

/*
.cm-s-default span.cm-bracket2 {color: #0f0;}
.cm-s-default span.cm-bracket3 {color: #00ff7f;}
.cm-s-default span.cm-bracket4 {color: #00ffff;}
.cm-s-default span.cm-bracket5 {color: #836FFF;}
.cm-s-default span.cm-bracket6 {color: #FF00FF;}
.cm-s-default span.cm-bracket7 {color: #9B30FF;}
.cm-s-default span.cm-bracket8 {color: #00ff7f;}
.cm-s-default span.cm-bracket9 {color: #00ffff;}
.cm-s-default span.cm-bracket10 {color: #836FFF;}
.cm-s-default span.cm-bracket11 {color: #FF00FF;}
.cm-s-default span.cm-bracket12 {color: #9B30FF;}
*/

.cm-s-default .activeline { background:#303030; }
.cm-s-default span.CodeMirror-matchingbracket {box-sizing:border-box; background:transparent; border-bottom:1px solid #3FF; font-weight:normal;}
.cm-s-default span.CodeMirror-nonmatchingbracket {color: #F33; border-bottom:1px solid #F33; background:none;}

.cm-s-default .cm-searching { background:#5f5f5f; border-radius:2px; color:#eee !important; }
.cm-s-default .searching-current { background:#13879C; color:#BFFCFF !important; }

.CodeMirror div.CodeMirror-cursor { border-left: 1px solid white; }
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor { border-left: 1px solid silver; }
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor { width: auto; border: none !important; background: rgba(0, 200, 200, .4); }

.CodeMirror-gutters { background: #202020; }

.CodeMirror-hints {
  position: absolute;
  z-index: 1000000000000000;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 2px;

  border-radius: 2px;
  border: 1px solid #555;

  background: #555;
  font-size: 90%;
  font-family: inherit;

  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hints ul li {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  max-width: 19em;
  overflow: hidden;
  white-space: pre;
  color: #ccc;
  cursor: pointer;
}

.CodeMirror-hints input { display:none; }

.CodeMirror-hints .selected {
  background: #222;
  color: #eee;
}
