/**********************************************************
* Vars
***********************************************************/

:root .skin-dark, :root .skin-light {
  var-bg: #3b3f41;
  var-fg: #ccc;
  var-multi: #202020;
  var-border: #444;
  var-shadow: black;

  var-scrollbar: #606970;
  var-placeholder-fg: #aaa;
  var-dim-fg: #bbb;
  var-bright-fg: #aaa;
  var-blinding-fg: #fff;
  var-hidden-fg: #bbb;

  var-hidden-bg: #404040;
  var-inactive-bg: #2C2F30;

  var-highlight-bg: #616161;
  var-highlight-fg: #f4f4f4;

  var-dark-highlight-bg: #666;
  var-medium-highlight-bg: #999;

  var-button-bg: #616161;
  var-button-fg: #f4f4f4;
  var-button-active-bg: #ccc;
  var-button-active-fg: #555;

  var-pane-bg: #3b3f41;
  var-pane-scrollbar: #7c7c7c;
  var-dark-pane-bg: #1c1f26;
  var-dark-pane-border: #606060;
  var-pane-border: #888;

  var-error-bg: #73404C;
  var-error-fg: #FFA6A6;
  var-error-highlight-fg: #FFCDCD;
  var-error-border: #aF5D5D;

  var-usage-bg: #3E6B6B;
  var-usage-fg: #7FFFFD;

  var-result-bg: #505D6B;
  var-result-fg: #C7E6FF;

  var-overlay-dimmer: rgba(0,0,0,0.5);

  var-accent-foreground: #C7E6FF;
  var-accent-background: #505D6B;
  var-light-accent-background: #18B1CC;
  var-light-accent-foreground: #CCFCFF;
  var-dark-accent-background: #505D6B;

  var-secondary-accent-fg: #7FFFFD;
  var-secondary-accent-bg: #3E6B6B;
  var-secondary-accent-dim-fg: #C7E6FF;
  var-secondary-accent-desat-fg: var(fg);

  var-tertiary-accent-fg: #DFC7FF;
  var-tertiary-accent-bg: #5E3870;
}

/**********************************************************
* Shared
***********************************************************/

html { background: var(bg); }
body { background: var(bg); color: var(fg); }
a {text-decoration:none; color: var(fg); }
.button, button { background:var(button-bg); color:var(button-fg); }
.button:hover, .button:focus, button:hover, button:focus, button.active { background:var(button-active-bg) !important; color: var(button-active-fg); }
input { color: var(highlight-fg); background:var(highlight-bg); }

::-webkit-scrollbar { width: 7px; height: 7px; }
::-webkit-scrollbar-track { border-radius: 2px; }
::-webkit-scrollbar-thumb { border-radius: 2px; }
::-webkit-scrollbar-corner { background:transparent; }

::-webkit-input-placeholder { color: var(placeholder-fg); }
::-webkit-scrollbar {background: transparent;}
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(scrollbar); border:1px solid var(scrollbar); }
::-webkit-scrollbar-thumb:hover { background: var(medium-highlight-bg); border:1px solid var(medium-highlight-bg); }
::-webkit-scrollbar-corner { background:transparent; }
::selection { background: var(placeholder-fg); }

.inline-result { background: var(dark-accent-background); color:var(accent-foreground); }

.inline-exception pre { background: var(error-bg); color: var(error-fg); }

.underline-result pre { background: transparent; color: var(accent-foreground)}

.inline-doc { background:var(dark-accent-background); }
.inline-doc h1 {color:var(light-accent-foreground);}
.inline-doc h3, .inline-doc h2 { color:var(accent-foreground); }
.underline-result .inline-doc pre { color:var(accent-foreground); }

.inspector-object h2:before { color:var(hidden-fg); }
.inspector-object em { color:var(accent-foreground); }
.inspector-object { color: var(fg); }

.inline-result .inspector-object { color: var(light-accent-foreground); }
.inline-result .inspector-object h2:before { color: var(light-accent-foreground); }

#multi-container { background: var(bg); }
#multi .list { background:transparent; }
#multi .list li { box-sizing:border-box; height:29px; }
#multi .list .active, #multi .list li:hover { background:var(multi); color:var(highlight-fg); }
#multi .list .dirty { color:var(accent-foreground); }
#multi .list .dirty .file-name:after { content: "*"; }
#multi .list.dragging li { background:transparent !important; }
#multi .dirty.ui-sortable-placeholder:after { content:"" !important; }
#multi .list .tab-close { background:rgba(125,125,125, 0.7); color:var(fg); }
#multi .tab-close:hover { background:var(error-bg); color:var(error-fg); }
#multi .tabset + .tabset { border-left:2px solid var(bg); }

#bottombar .content { background:var(bg); border-top:0px solid var(border); }
.console > li, .console td { color:var(accent-foreground); }
.console > li + li { border-top:2px solid var(bg); }
.console > li.error + li { border-color:var(bg);}
.console li.error { color:var(error-fg); background:var(error-bg); border-color:var(bg);}
.console li.error table td { color:var(error-fg); }
.console li.error tr:hover td { color:var(error-highlight-fg); }
.console li .file { color: var(dim-fg); }
.console li .line { color: var(hidden-fg); padding-left:5px; }

#instarepl .error { color:var(error-fg); background:var(error-bg); }
#instarepl .livetoggler { background:var(accent-background); color:var(accent-foreground); }
#instarepl .livetoggler.off {color:var(bright-fg); background:var(bg);}
#instarepl .livetoggler.off:hover {color:var(button-active-fg); background:var(button-active-bg);}
#instarepl .use-result { background:var(usage-bg); color:var(usage-fg); }
#instarepl .result-result { background:var(result-bg); color:var(result-fg); }
#instarepl .exception-result { background:var(error-bg); color:var(error-fg); }

.popup { background:var(overlay-dimmer); }
.popup > div > div { background:var(accent-background); color:var(accent-foreground); }
.popup .button { background: transparent; border:2px solid var(accent-foreground); color:var(accent-foreground); }
.popup label { margin-right:10px; display:block; }
.popup input { background: transparent; padding:8px 10px; border:2px solid var(accent-foreground); color:var(accent-foreground); width:60%; }
.popup input::-webkit-input-placeholder { color:var(accent-foreground); }
.popup .button:hover, .popup .button.active { background:var(accent-foreground) !important; color:var(accent-background); }
.popup ::-webkit-scrollbar-thumb { background: var(accent-foreground); border:1px solid var(accent-foreground); }

#version-info {background:var(multi);}
#version-info .info { border-right:1px solid var(bg); }
#version-info .info dt { color:var(hidden-fg); }
#version-info .button { background:var(button-bg); color:var(button-fg); border:none; }
#version-info .button:hover { background: var(button-active-bg); color:var(button-active-fg); }

.filter-list { color: var(fg); }
.filter-list em { color:#C7E6FF; }
.filter-list .selected, .filter-list li:hover { color:var(highlight-fg); background: var(highlight-bg);}
.filter-list .selected em, .filter-list li:hover em { color:var(accent-foreground); }

#side .content { background:var(bg); box-shadow: 0 0 10px var(shadow); }
#side ::-webkit-scrollbar-thumb { background: var(scrollbar); border:1px solid var(scrollbar); }

#side .workspace ul.buttons li:hover:not(.sep) { color:var(highlight-fg); background:var(highlight-bg); }
#side .workspace li:hover > div > p { color: var(highlight-fg); }
#side .workspace li p:hover { background: var(highlight-bg); color:var(highlight-fg); }
#side .workspace .recent > div > ul > li + li { border-top:0px solid var(pane-border); }
#side .workspace .recent > div > ul > li:hover { border-color: var(pane-border); background:var(highlight-bg); color: var(highlight-fg); }
#side .workspace .recent > div > ul > li:hover + li { border-top-color: var(pane-border); }
#side .workspace .recent h2:hover { background: var(highlight-bg); color:var(highlight-fg); }

#right-bar .content { background:var(bg); }
#right-bar .command h2:hover { background:var(highlight-bg); color:var(highlight-fg); }
#right-bar .command input { background:var(highlight-bg); color:var(highlight-fg); }
#right-bar .command li + li { border-top:1px solid var(dark-pane-border); }

#right-bar .command .filter-list p { color:var(bright-fg); }
#right-bar .command .filter-list .selected p { color:var(highlight-fg); }
#right-bar .command .filter-list p.binding { color:var(fg); }
#right-bar .command .filter-list .selected p.binding { color: var(fg); }

#right-bar .filter-list h2 { color:var(bright-fg);  }
#right-bar .filter-list .selected, #right-bar .filter-list .selected h2, #right-bar .filter-list li:hover { color:var(highlight-fg); background: var(highlight-bg); }
#right-bar .filter-list input { border:0px solid var(pane-border); background:var(highlight-bg); }

#right-bar .navigate .filter-list .selected p { color:var(fg); }

#right-bar .filter-list li + li { border-top:0px solid var(dark-pane-border); }

#right-bar .docs-search h2 { color:var(accent-foreground);  }
#right-bar .docs-search h3 { color:var(placeholder-fg);  }
#right-bar .docs-search .types > span { background: var(pane-border); color:var(blinding-fg); }
#right-bar .docs-search .types ul { background: var(bg); }
#right-bar .docs-search .types li { background: var(highlight-bg); color:var(highlight-fg); }
#right-bar .docs-search .types li:hover { background: var(medium-highlight-bg); color:var(blinding-fg); }

#right-bar .clients td { color:var(dim-fg); }
#right-bar .clients .button { background:var(button-bg); color:var(button-fg); }
#right-bar .clients .button:hover { background:var(button-active-bg); color:var(button-active-fg); }
#right-bar .clients .list li h2 { color:var(accent-foreground); font-size:12pt; }
#right-bar .clients .list > ul > li:first-child { border-top:0px solid var(pane-border); }
#right-bar .clients .list > ul > li:last-child  { border-bottom:0px solid var(pane-border);  }
#right-bar .clients .list > ul > li + li { background:transparent; border-top:0px solid var(pane-border); }
#right-bar .clients .list .active {background:var(highlight-bg); color: inherit; border-color: var(pane-border); }
#right-bar .clients .list .active * {color: inherit; }
#right-bar .clients .list .active h2 {color:  var(highlight-fg); }
#right-bar .clients .list .active .button { background:var(button-active-bg); color:var(button-active-fg); }
#right-bar .clients .list .active .button:hover { background:var(accent-foreground) !important; color:var(accent-background); }
#right-bar .clients .connector li { border-top:0px solid var(pane-border); border-bottom:1px solid var(pane-border); }
#right-bar .clients .connector li:first-child {border:none;}
#right-bar .clients .connector li:last-child {border-bottom:none;}
#right-bar .clients .connector li + li {border-bottom:none;}
#right-bar .clients .connector li h2 {color: var(highlight-fg); }
#right-bar .clients .connector li:hover h2 {color: var(highlight-fg); }
#right-bar .clients .connector li:hover {background: var(highlight-bg); color: var(fg); border-color: var(pane-border); }

#statusbar { color: var(hidden-fg); }
#statusbar .console-toggle { cursor:default; background:var(hidden-bg); color:var(fg); min-width:12px; padding:0 4px; width:auto; display:none; text-align:center; margin-left:0px; border-radius:2px; }
#statusbar .console-toggle:hover { background:var(dark-highlight-bg); color:var(highlight-fg); }
#statusbar .console-toggle.dirty { background:var(accent-background); color:var(accent-foreground); display: inline-block; }
#statusbar .console-toggle.error { color:var(error-fg); background:var(error-bg); }
#statusbar .log .error { color:var(error-fg); background:var(error-bg); }
#statusbar .log .tip { color: var(accent-foreground); }

#find-bar input { border-top:2px solid var(bg); background:var(multi); }
#find-bar input + input { border-left:2px solid var(bg); }
#find-bar ::-webkit-input-placeholder { color:var(hidden-fg); }
#find-bar button { background:var(bg); }
#find-bar button:hover, #find-bar button:focus, #find-bar button:active, #find-bar button.active { background:var(button-active-bg); }

#browser input { background:var(hidden-bg); color:var(fg); }
#browser button {  }
#browser iframe { background:white; }
#browser ::-webkit-scrollbar { background: var(bg) !important; }
#browser ::-webkit-scrollbar-track { background: var(bg) !important; }
#browser ::-webkit-scrollbar-corner { background: var(bg) !important; }
#browser ::-webkit-scrollbar-thumb { background: var(scrollbar); border:1px solid var(scrollbar);  }

.docs ::-webkit-scrollbar { background: var(bg) !important; }
.docs ::-webkit-scrollbar-track { background: var(bg) !important; }
.docs ::-webkit-scrollbar-corner { background: var(bg) !important; }
.docs ::-webkit-scrollbar-thumb { background: var(scrollbar); border:1px solid var(scrollbar);  }

.search-results .path, .search-results .line { color:var(hidden-fg); }
.search-results .line { color:var(secondary-accent-desat-fg); }
.search-results .entry { color: var(placeholder-fg); }
.search-results .entry em { color:var(blinding-fg); }
.search-results .entry:hover { background:var(hidden-bg); }
.search-results .entry:hover .line { background:var(medium-highlight-bg); color:var(bg); }
.search-results .path { color:var(secondary-accent-dim-fg); }
.search-results .file { color:var(secondary-accent-fg); }
.search-results input { background:var(highlight-bg); }
.search-results button { background:var(bg); }

.watch-result { display:inline-block; padding-left:2px; vertical-align:top; background:var(usage-bg); color:var(usage-fg); border-radius:0px; }
.CodeMirror .watched { border-bottom:1px solid var(usage-fg); }

.hintwrapper { padding:2px 0; padding-bottom:5px; padding-left:12px; box-sizing:border-box; }
.jshinterrors  { display:inline-block; box-sizing:border-box; padding:2px 10px; border-radius:0px; background:var(error-bg); color:var(error-fg); }
.hintwrapper .spacer { display:inline-block; white-space:pre; }

.behavior-helper-result {white-space:nowrap; display:inline-block; padding-top:0px; padding-bottom:0px; overflow:hidden; margin-left:0px; padding-left:20px; box-sizing:border-box; background:none; color:var(usage-fg); }
.behavior-helper-result div { white-space:nowrap; width:-webkit-fit-content; background:var(usage-bg); padding:0px 5px; border-radius:0px; margin-top:0px; }
.behavior-helper-result div > * { border-radius:0px; padding:0px !important; }
.behavior-helper-result h2 { display:block; width:-webkit-fit-content; white-space:nowrap; }
.behavior-helper-result div > span.param { display:inline-block; margin-right:8px; margin-bottom:3px; padding:2px 5px !important; margin-top:5px; border:1px solid var(usage-fg); }
.behavior-helper-result div > span.spacer { display:inline-block; margin:0 5px; }
.behavior-helper-result .active { background: var(usage-fg); color:var(usage-bg); border-radius:0px; display:inline-block; }
.behavior-helper-result .example { display:inline-block; width:auto; vertical-align:top; padding:0; margin:0; margin-left:5px; border:none; }

.plugin-manager .version { margin-left:10px; color:var(hidden-fg);  }
.plugin-manager h3 { color: var(hidden-fg); }
.plugin-manager h3:before { content:"by "; }
.plugin-manager li { border:none; position:relative; }
.plugin-manager li h1 { color:var(accent-foreground); }
.plugin-manager li.has-update .version { color:var(error-fg);  }
.plugin-manager li.has-update .version { color:var(error-fg);  }
.plugin-manager li.has-update h1 { color:var(error-fg);  }
.plugin-manager li + li { border-top:1px solid var(border); }
.plugin-manager > ul > li:hover { background:var(hidden-bg); }
.plugin-manager .tabs { margin-bottom:15px; display:flex; -webkit-flex-direction:row; -webkit-align-items:stretch; height:30px; width:100%; }
.plugin-manager input {background: var(highlight-bg); -webkit-flex:1; }
.plugin-manager button {background: var(highlight-bg); }
.plugin-manager .install { box-sizing:border-box; color:var(secondary-accent-bg); background:var(secondary-accent-fg); display:inline-block; height:25px; position:absolute; right:0; top:0; width:5px; -webkit-transition:width 0.1s ease-in-out; cursor:pointer;}
.plugin-manager .uninstall { box-sizing:border-box; color:var(tertiary-accent-bg); background:var(tertiary-accent-fg); display:inline-block; height:25px; position:absolute; right:0; top:0; width:5px; -webkit-transition:width 0.1s ease-in-out; cursor:pointer;}
.plugin-manager .update { box-sizing:border-box; background:var(error-fg); display:inline-block; height:25px; position:absolute; right:0; top:50px; width:5px; -webkit-transition:width 0.1s ease-in-out; cursor:pointer;}
.plugin-manager li:hover .update { width:70px; overflow:hidden; }
.plugin-manager li:hover .update:before { color:var(error-bg); padding:4px 8px; display:inline-block; content: "update";  }
.plugin-manager li:hover .uninstall { width:70px; overflow:hidden; }
.plugin-manager li:hover .uninstall:before { padding:4px 8px; display:inline-block; content: "uninstall";  }
.plugin-manager li:hover .install { width:70px; overflow:hidden; }
.plugin-manager li:hover .install:before { padding:4px 8px; display:inline-block; content: "install";  }
.plugin-manager .source { color:transparent; position:absolute; height:25px; width:5px; top:25px; right:0; background:var(accent-foreground); overflow:hidden; -webkit-transition:width 0.1s ease-in-out, right 0.1s ease-in-out; }
.plugin-manager .source a { color:transparent; padding:4px 8px; display:inline-block; width:100%;}
.plugin-manager li:hover .source { width:70px; }
.plugin-manager li:hover .source a { color:var(accent-background); }

/**********************************************************
* Theme specific
***********************************************************/

.cm-visible-space { background:url("../../img/visible-space11.png"); background-size:100%; background-position:center;  background-repeat: no-repeat;}
.cm-visible-tab { background:url("../../img/visible-tab7.png"); background-size:100% 1em; background-position:center;  background-repeat: no-repeat;}

#right-bar .clients .load-wrapper .img { width:20px; height:20px; background:url("../../img/connectingloader.gif") }

#titlebar .button { color:var(fg); }

.load-wrapper .img { background:url("../../img/loaderdark.gif"); }

.timed { border-bottom:1px solid #fa5; }
.timed-result { background: #741; color:#fb0; }
.workspace .buttons { display:none; }
#multi .list { margin:0; }
#multi .list li { height:29px; padding:6px 10px; font-size: 9pt; text-align:left; }
#multi .content { background:var(multi); margin:0; top:29px; left:0; right:0; padding:5px; padding-bottom:5px; }

#side .workspace ul.root { top:0px; }
#right-bar .filter-list input { padding:6px 10px; font-size:10pt; margin-top:0; border-radius:0px; }
#right-bar .filter-list ul { top:35px; bottom:10px; }
#right-bar .content { padding:0 15px; padding-bottom:10px; }

button { border-radius:0; }
* { border-radius:0; }

.CodeMirror pre { padding: 0 0 0 5px; /* Horizontal padding of content */ }

.CodeMirror div.CodeMirror-cursor { border-left: 1px solid white; }
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor { border-left: 1px solid silver; }
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor { width: auto; border: none !important; background: rgba(0, 200, 200, .4); }

.CodeMirror-gutters { background: var(multi); border-color:var(dark-highlight-bg); border:none; }
.CodeMirror-hints.empty { display:none; }
.CodeMirror-hints { position: absolute; z-index: 1000000000000000; overflow: hidden; list-style: none;  margin: 0; padding: 2px;  border-radius: 2px; border: 1px solid var(pane-bg);  background: var(pane-bg); font-size: 90%; font-family: inherit;  max-height: 20em; }
.CodeMirror-hints ul { overflow-y:auto; max-height:20em; }
.CodeMirror-hints ul li { margin: 0; padding: 0 4px; border-radius: 2px; max-width: 60em; overflow: hidden; white-space: pre; color: #ccc; cursor: pointer; }
.CodeMirror-hints input { display:none; }
.CodeMirror-hints .selected { background: var(highlight-bg); color: var(highlight-fg); }
.CodeMirror-hints ul::-webkit-scrollbar-thumb { background: var(scrollbar); border-color: var(scrollbar); }
